<?xml version="1.0" encoding="UTF-8"?>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/XML/XMLDocument.xml to edit this template
-->

<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

 <hibernate-configuration>
 <session-factory>
 <!-- Connection properties -->
 <!-- Driver JDBC -->
 <property name="connection.driver_class">
 com.mysql.cj.jdbc.Driver
 </property>

 <!-- Add ?createDatabaseIfNotExist=true to create database -->
 <property name="connection.url">
 jdbc:mysql://localhost:3306/instituto
</property>

<!--user and pass -->
 <property name="connection.username">root</property>
 <property name="connection.password">root</property>

 <!-- extra conf -->

 <!-- JDBC connection pool for concurrent connections -->
 <property name="connection.pool_size">5</property>

 <!-- dialect connector. Useful for Foreing Keys
 <property name="dialect">
 org.hibernate.dialect.MySQL5InnoDBDialect
 </property>
-->
 <!-- one thread one session -->
 <property name="current_session_context_class">thread</property>

 <!-- show "reals" SQL ops. only for development-->
 <!--<property name="show_sql">true</property>-->

 <!-- DB maintenance -->
<property name="hbm2ddl.auto">update</property>

<!-- options hbm2dll:
create :
create always DB when session factory is loaded. Data will be
lost.
update :
Data will be safe, but database structure will be update.
Useful in production.
create-drop :
like create and dropping the database.
validate:
check the mapping between database and beans.
-->

 <!-- Mapping files. Can be combined-->

 <!-- mapping classes -->
<mapping class="CEPA2.model.Autor" />
<mapping class="CEPA2.model.Libro" />
<mapping class="CEPA2.model.Estudiante" />
<mapping class="CEPA2.model.Curso" />

<!-- Maping files
<mapping resource="class3.hbm.xml" />
<mapping resource="class4.hbm.xml" />
-->
</session-factory>

</hibernate-configuration>

